<html>
	<head>
		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
	</head>
	<body>
		<h1>My Food Tracker - Add Meal</h1>

		<form role="form" action="" method="POST">
			{% csrf_token %}

			<table class="table table-striped table-bordered">
				<tr>
					<td>Food</td>
					<td>{{ meal_form.food }}</td>
				</tr>
				<tr>
					<td>Serving Size</td>
					<td>{{ meal_form.serving_size }}</td>
				</tr>
				<tr>
					<td>Meal Time</td>
					<td>{{ meal_form.meal_time }}</td>
				</tr>
			</table>

			<button class="btn btn-success" type="submit">Save</button>

		</form>

	</body>
</html>